            {% extends "layout.html" %}
            {% block content %}
            <div class="container text-center">
                <div id="cont1" class="row">
                    <div id=t1 class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                        <section class="main" >
                            <section class="articles">
                                <article id="t1">
                                    <h2>Los gatos: </h2>
                                    <br>
                                    <div id="p1">
                                        <p>El gato doméstico (Felis silvestris catus), 
                                         llamado más comúnmente gato, y de forma coloquial 
                                         minino, michino, michi, micho y algunos nombres más, 
                                         es un mamífero carnívoro de la familia Felidae. Es 
                                         una subespecie domesticada, por la convivencia con el
                                         ser humano, del gato montés. El nombre actual en 
                                         muchas lenguas proviene del latín vulgar catus. 
                                         Paradójicamente, catus aludía a los gatos salvajes, 
                                         mientras que los gatos domésticos eran llamados felis.
                                         Como resultado de mutaciones genéticas, cruzamiento y 
                                         selección artificial, hay numerosas razas. Algunas, 
                                         como la raza sphynx o la peterbald están desprovistas 
                                         de pelo; otras carecen de cola, como los gatos de la raza 
                                         bobtail o la manx, y algunas tienen coloraciones atípicas, 
                                         como los llamados gatos azules.
                                        </p>
                                </article>
                                <article>
                                    <h2>Comunicación de los gatos  </h2>
                                    <br>
                                    <div id="p1">
                                        <p>El gato se comunica a través de vocalizaciones. Las más populares 
                                         son su característico maullido y el ronroneo, pero puede aullar, 
                                         gemir, gruñir y bufar. Además, adopta poses o expresiones que informan, 
                                         a sus congéneres, sus enemigos o sus cuidadores, de su ánimo o sus 
                                         intenciones. Junto con el perro, es el animal doméstico más popular, 
                                         como mascota, como ayuda en la lucha contra roedores o ambas cosas. En 
                                         el 2017, la población mundial estimada de gatos estaba en seiscientos 
                                         millones de felinos. En esta cifra se incluyeron gatos que son mascota, 
                                         gatos callejeros (sin hogar) y gatos salvajes; sumando solo los gatos silvestres 
                                         alrededor de 100 millones. El país considerado hasta esa fecha que más felinos 
                                         tiene como mascota es Estados Unidos. Rusia contaba con aproximadamente 23 
                                         millones de gatos domésticos en 2021 convirtiéndose en el país europeo con mayor 
                                         población de este tipo de felinos. Por su amplio abanico de presas potenciales, 
                                         por su alta eficiencia como depredador, y por su elevado éxito reproductivo 
                                         especialmente si se suministra artificialmente alimento a las colonias sin 
                                         tomar medidas adicionales para limitar su fertilidad— el gato doméstico está 
                                         incluido en la lista de las cien especies exóticas invasoras más dañinas del 
                                         mundo de la Unión Internacional para la Conservación de la Naturaleza.
                                        </p>
                                    </div>   
                                </article>
                            </section>
                        </section>
                    </div>
                    <div id="g2" class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <img id="img2" src="/static/Gato2.jpg" width="300px" height="227">
                    </div>
                </div>
           
                <div class="row">
                    <div class="col">
                        <aside>
                            <h3>¿Perdiste a tu mascota?:</h3>
                            <p>Si perdiste a tu mascota, no te preocupes, puedes anunciarte con nostros
                             sin costo para ayudar a encontrarlo
                                <br>
                                <br>
                            (No, los gatos negros no causan mala suerte)
                            </p>
                        </aside>
                    </div>
                </div>
            </div>
            {% endblock %}