            {% extends "layout.html" %}
            {% block content %}
            <div class="container text-center">
                <div id="cont1" class="row">
                    <div id=t1 class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                        <section class="main" >
                            <section class="articles">
                                <article id="t1">
                                     <h2>¿Quiénes somos?</h2>
                                     <br>
                                    <div id="p1">
                                        <p>Animal Budy es una empresa dedicada a recatar animales domésticos que se 
                                         encuentran en situación de calle, se les proporcionan cuidados para mantenerlos
                                         saludables y así poder encontrarles una familia a través de nuestro sistema de 
                                         adopción. Todo esto es posible gracias a donaciones y compras en nuestros departamentos
                                         de accesorios para sus amigos peludos.
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <h2>Servicio de veterinaria </h2>
                                    <br>
                                    <div id="p1">                                                
                                        <p>En nuestras sucursales no solo contamos con accesorios para diversos
                                         tipos de mascotas, si no que también ofrecemos el servicio de veterinaria
                                         con profecionales certificados; además de contar con productos especializados 
                                         para su cuidado.
                                        </p>
                                    </div>
                                </article>
                            </section>  
                        </section>
                    </div>
                    <div id=g1 class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <img id=img1 src="/static/Gato1.jpg" width="300px" height="322">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <aside>
                            <h3> Animales disponibles para adopción:</h3>
                            <p>Gatos: 35 Perros: 14
                            <br>
                            <br>
                            <h3>Aclaraciones:</h3>
                            <p>-Si tienes alguna duda sobre el cuidado de tu mascota puedes acudir a una de nuestras sucursales
                             para ser orientado por uno de nuestros veterinarios.
                            </p>
                        </aside>
                    </div>
                </div>
            </div>

            {% endblock %}
            