            {% extends "layout.html"%}
            {% block content %}
            <div class="container text-center">
                <div id="cont1" class="row">
                    <div id=t1 class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                        <section class="main" >
                            <section class="articles">
                                <article id="t1">
                                    <h2>Perros: Golden Retriever  </h2>
                                    <br>
                                    <div id="p1">
                                     <p>El golden retriever es una raza de perro 
                                         cobrador que se desarrolló alrededor de 1850 en el 
                                         Reino Unido, concretamente en Escocia. Con sus 
                                         características de perro cobrador, sabueso, 
                                         bloodhound y spaniel de agua, es un hábil perro 
                                         de caza con aptitudes para el rastreo. Posee una 
                                         disposición amigable y una actitud que lo ha 
                                         convertido en una de las razas familiares más 
                                         populares (mediante registro) en los Estados Unidos, 
                                         Argentina y en Canadá, el quinto más popular en 
                                         Australia, y la octava raza más popular en el Reino 
                                         Unido.
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <h2>Historia: </h2>
                                    <br>
                                    <div id="p1">
                                    <p>El golden retriever tiene sus raíces en Escocia. A mediados del siglo 
                                     xviii, la caza de aves era muy popular entre los ricos, y se necesitaba un perro 
                                     que pudiera recogerlas del agua y de la tierra, puesto que el terreno escocés está 
                                     cubierto por lagos y ríos. Los primeros perros perdigueros se cruzaron con los 
                                     mejores perros de aguas, dando lugar a la raza de perro, que se conoce como "golden 
                                     retriever". El perro se crio por primera vez en Guisachan (Escocia) cerca de Glen 
                                     Affric, en la propiedad de Sir Dudley Marjoribanks —después Barón de Tweedmouth—, 
                                     de las Tierras Altas escocesas.
                                        <br>
                                     Las mejoras en las armas de fuego durante la década de 1800 tuvieron como 
                                     resultado que un mayor número de aves fuesen derribadas a grandes distancias 
                                     durante la cacería, en un terreno cada vez más difícil, por lo que aves y presas 
                                     se perdían en el campo cada vez más. Esto generó la necesidad de un perro 
                                     especialista cobrador, debido a que el Setter, y otras razas pointer fueron 
                                     ineficaces durante el entrenamiento para la recuperación de las presas. Es por 
                                     ello que se comenzó a trabajar en la cría de un perro que desempeñara este papel 
                                     que tanto hacía falta.
                                        <br>
                                     La cruza original fue entre un perro perdiguero de color amarillo, Nous, y una 
                                     perra Tweed Water spaniel, Belle. La raza de tweed water spaniel está extinta, 
                                     pero en aquel entonces era común en las áreas fronterizas. En 1868, esta cruza 
                                     produjo una camada que incluía cuatro cachorros, los cuales se convirtieron en la 
                                     base de un programa de mejoramiento genético que incluyó al setter irlandés, el 
                                     bloodhound color arena, el perro de aguas de San Juan o Terranova menor, y dos 
                                     retriever con pelaje rizado de color negro. Las líneas de sangre fueron 
                                     endogámicas y seleccionadas con exactitud por Marjoribanks, apegado a su ideal 
                                     de desarrollar el mejor perro de caza. Su visión incluía un perro más fuerte y 
                                     poderoso que los retriever previos, uno que fuese gentil y apto para el 
                                     entrenamiento. Los perros pastores rusos no se mencionan en estos registros, 
                                     ni ninguna otra raza de perros de trabajo. La ascendencia del Golden es toda de 
                                     perros de caza, en línea con los objetivos de Marjoribanks. El golden retriever 
                                     es activo y poderoso, también tiene una «boca blanda» para recuperar la presa 
                                     mientras dura la cacería.
                                        <br>
                                     Durante muchos años, hubo una gran controversia sobre qué razas se utilizaron en 
                                     un principio para dar origen al golden retriever. En 1952, la publicación de los 
                                     registros de cría de Marjoribanks —desde 1835 hasta 1890—, disipó el mito 
                                     relativo a que Tweedmouth se había hecho con sus primeros perros amarillos a 
                                     partir de la compra de un grupo de perros pastores en un circo ruso. Los 
                                     registros indicaban que Tweedmouth adquirió a su primer retriever amarillo en 
                                     Brighton, en 1865, que el perro se llamaba Nous y que procedía de una camada 
                                     donde el resto de los animales eran retriever, completamente negros, con el 
                                     pelaje rizado (Curly-Coated Retriever).
                                        <br>
                                     La raza fue registrada por el conde de Chichester. «Nous» aparece en fotografías 
                                     de 1870 como un perro grande, con un pelaje muy ondulado y de un color ni muy 
                                     claro ni muy oscuro, que se parece mucho al golden retriever actual.</p></div>
                                </article>
                            </section>
                        </section>
                    </div>
                    <div id=g3 class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <img id=img3 src="/static/Perro.jpg" width="300px" height="212">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <aside>
                            <h3> Avisos:</h3>
                            <p>Contamos con servicio de entrenamiento.
                            <br>
                            <br>
                            La mayoría de los perros que tenemos en adopción son mestizos.
                            </p>
                              
                        </aside>
                    </div>
                </div>
            </div>
            {% endblock %}