            {% extends "layout.html" %}
            {% block content %}
            <div class="container text-center">
                <div id="cont1" class="row">
                    <div id=t1 class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                        <section class="main" >
                            <section class="articles">
                                <article id="t1">
                                    <h2>Los Quetzales:</h2>
                                    <br>
                                    <div id=p1>
                                        <p>Los quetzales (Pharomachrus) son un género 
                                         de aves de la familia de los trogones (Trogonidae). 
                                         Se trata de una especie que en las civilizaciones 
                                         maya y azteca era sagrado y su plumaje era utilizado 
                                         para adornar la indumentaria de los reyes y 
                                         sacerdotes. Es el ave nacional de Guatemala.
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <h2>Alimentación:  </h2>
                                    <br>
                                    <div id="p1">
                                        <p>Se alimentan de frutos, principalmente 
                                         de aguacates silvestres, insectos que atrapan al 
                                         vuelo y de pequeños animales vertebrados como, 
                                         lagartijas y ranas.
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <h2>Distribución y habitat  </h2>
                                    <br>
                                    <div id="p1"><p>El quetzal se encuentra principalmente en América Central y vive en 
                                     países como Guatemala, Honduras, Costa Rica, El Salvador, Nicaragua y Panamá, 
                                     pero también se le encuentra en partes del sur de México y América del Sur. 
                                    </div>
                                    <br>
                                    <div id="p1">
                                        <p>Su hábitat son las selvas tropicales, pastizales y montañas con densa 
                                         vegetación y clima húmedo o sub húmedo. Construye su nido en lo alto de los árboles 
                                         inhabitados o en huecos que dejan los pájaros carpinteros.
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <h2>Reproducción</h2>
                                    <br>
                                    <div id="p1">
                                        <p>Las aves macho presentan plumas de color verde metálico y pecho rojo. Durante la etapa de 
                                         reproducción, los machos desarrollan una cola de hasta 1 metro de longitud, lo cual contrasta 
                                         con el cuerpo, cuya medida puede llegar a ser de 35 cm. Sin embargo, debido al dimorfismo 
                                         sexual, las hembras presentan colores más opacos y no desarrollan cola.
                                            <br>
                                         Cuando llega la temporada de apareamiento, los quetzales macho emprenden vuelos nupciales 
                                         para atraer a las hembras. Posterior a ello, tanto hembras como machos intervienen en la 
                                         incubación y protección de las crías, que suele ser de dos individuos por temporada.
                                            <br>
                                         Hasta años recientes, se creyó que el quetzal no podía procrear ni vivir mucho tiempo
                                         en cautiverio, por lo que es un símbolo tradicional de la libertad. Sin embargo, en 
                                         el 2004 se anunció que unos quetzales tuvieron un pichón en un aviario privado de 
                                         Ixtapaluca (Estado de México), administrado por la Fundación Vida Silvestre Dr. 
                                         Estudillo López.
                                        </p>
                                    </div>
                                </article>
                                <article>
                                    <h2>Origen y cultura</h2>
                                    <br>
                                    <div id="p1">
                                        <p>Detalle de parte de la cola de Pharomachrus mocinno.
                                         Esta ave desempeña un papel importante en la mitología prehispánica y 
                                         moderna de la región. Los reyes y sumos sacerdotes ancianos llevaban tocados 
                                         de plumas de quetzal. En la voz náhuatl, quetzal (que proviene, a su vez, de 
                                         quetzalli) significa precioso o bello; en otras voces mesoamericanas significa 
                                         sagrado o erigido. Según el American Heritage Dictionary, quetzalli puede 
                                         traducirse como «cola larga de plumas brillantes» y, según el Merriam-Webster 
                                         Collegiate Dictionary, como «cola cubierta del quetzal». En cuanto a su 
                                         clasificación latina, Pharomachrus proviene del griego antiguo pharos, «manta», 
                                         y makros, «largo», en referencia a la aleta y cola cubierta del ave.
                                        </p>
                                    </div>
                                </article>
                            </section>  
                        </section> 
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                     <img id="img4" src="/static/Quetzal.jpg" width="300px" height="146">
                    </div>
                </div>
                <div class="row" >
                    <div class="col">
                        <aside>
                            <h3> Avisos:</h3>
                            <p>No se pueden adquirir quetzales en ninguna de nuestras sucursales.
                                <br>
                                <br>
                                Debido a la caza  tráfico ilegal es quetzal es una especie casi amenazada.
                            </p> 
                        </aside>
                    </div>
                </div>
            </div>
            {% endblock %}